body{
    background-color: rgb(138, 179, 210);
    color:rgb(26, 27, 27);
}



h1{
text-align: center;
font-style:roboto;
}
h2,p,ul,li{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    display: block;
}